* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: rgb(255, 255, 255);
}

.container {
  flex-direction: column; /* Stack elements vertically for mobile */
  align-items: center; /* Center content horizontally */
  justify-content: flex-start; /* Align content to the top */
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #0a0a0a;
  box-shadow: 10px 10px 10px rgba(48, 48, 48, 0.829);
  text-align: center;
  overflow: auto;
}

h2 {
  text-align: center;
}

.imp_color {
  color: #000;
  font-size: 17px;
}

.form-group {
  margin-bottom: 20px;
}

.select-wrapper {
  position: relative;
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #7e42e6;
  color: #fff;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  height: 40px;
  outline: none;
}

.select-wrapper select::-ms-expand {
  display: none;
}

.select-wrapper:after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #fff;
}

.input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #7e42e6;
  color: #fff;
  width: 100%;
  max-width: 100%;
  height: 40px;
  outline: none;
}

.button {
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background-color: #4443a0;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #772dff;
}

.score-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.score-section select,
.score-section input,
.score-section button {
  flex: 1;
  margin-right: 10px;
}

.score-section select {
  margin-right: 5px;
}

.score-section button {
  margin-right: 0;
}

.result {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #a3a3a3;
  color: #333;
}

.made-by {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #777777;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  padding: 10px 0; /* Add padding for better spacing */
}

@keyframes float {
  0% {
      transform: translate(0, 0);
  }
  50% {
      transform: translate(0, 5px);
  }
  100% {
      transform: translate(0, 0);
  }
}

.made-by {
  animation: float 2s ease-in-out infinite;
}
.notes {
  text-align: center;
}

.manual {
  margin-bottom: 5px;
  color: #dadada;
  font-size: 15px;
}

.score-section select,
.score-section input,
.score-section button {
  flex: 1;
  margin-right: 10px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.score-section select {
  background-color: #7e42e6;
  color: #fff;
}

.score-section input {
  background-color: #7e42e6;
  color: #fff;
}

.score-section button {
  background-color: #e63946;
  color: #fff;
  transition: background-color 0.3s ease;
}

.score-section button:hover {
  background-color: #ff0000;
}

.score-section input[type="number"] {
  appearance: textfield;
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #7e42e6;
  color: #fff;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  height: 40px;
  outline: none;
}

.select-wrapper select::-ms-expand {
  display: none;
}

.select-wrapper:after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #fff;
}

.select-wrapper select option {
  background-color: #7e42e6;
  color: #fff;
}

.remove-button:hover,
.select-type:hover {
    cursor: pointer;
}

.input-score:hover {
  cursor: text;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.star {
  position: absolute;
  border-radius: 50%;
  background: #cdcdcf;
  animation: twinkle 3s linear infinite;
}

@keyframes twinkle {
  0% {
      opacity: 0;
  }
  25% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}
